*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}

#logIn{
 
    margin-left: 20px;
    margin-top: 20px;
}
#btn_login{
    background-color:#077AE9;
    padding: 10px;
    color: white;
    border: solid 0px #7fb9f0;
     margin-top: 10px;
     margin-left: 25px;
     border-radius: 6px;

}

#btn_login:hover{
    border: solid 1px #ffffff;
    background-color:#2789e4;
    transition: .5s;
    cursor: pointer;
}