<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="./index.js"></script>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <title>messenger</title>
</head>

<body>

  <div class="container-createRoom">
    <form id="form-CreateRoom" action="/createIdRoom" method="post">
      <input type="radio" name="Room" id="radio-privateRoom" value="privateRoom">
      <label for="privateRoom">Private Room</label><br>
      <input type="radio" name="Room" id="radio-ChatRoom" value="chatRoom">
      <label for="chatRoom">Chat Room</label><br>
      <input type="text" name="createId" id="createId" placeholder="IdRoom">
      <button type="submit" name="btn-CreateRoom" id="CreateRoom">Create Id</button><br>
    </form>
    <form id="form-JoinRoom" action="/checkIdRoom" method="post">
      <input type="text" name="inputId" id="inputId" placeholder="input Id Room">
      <button type="submit" name="btn-JoinRoom" id="btn-JoinRoom">Find Room</button>
    </form>

  </div>

  <div class="container-loadIdRoom">
    <form id="form-connectRoom" action="/chat" method="post">
      <label for="rooms">Room created:</label>
      <select  id="roomcreated" name="roomcreated">
        <%if(items){%>
        <% items.forEach(function(item){ %>
        <option><%=item%></option>
        <%  }) %>
        <% } else{%>
          <option value="idRoom"></option>
        <% }%>
      </select>
      <label for="rooms">Room joined:</label>

      <select  id="roomjoin" name="roomjoin">
        <%if(arrJoinRoom!=undefined){%>
        <% arrJoinRoom.forEach(function(item){ %>
        <option><%=item%></option>
        <%  }) %>
        <% } else{%>
          <option value="idRoomJoin"></option>
        <% }%>
      </select>

        <input type="text" name="idRoomCreated" id="idRoomCreated" readonly>
      <button type="submit" name="btn-ConnectRoom" id="btn-ConnectRoom"disabled>connect</button>
    </form>
  </div>

</body>

</html>
