<link rel="stylesheet" type="text/css" href="./style.css">

<title>SignUp</title>

<% if(name){ %>
   <p style="color :red;">  <%= name%></p>
<%  } %>

<form id="form-signUp" action="/signUp" method="post">
       <label for="email">Email</label>
       <input type="email" name="email" placeholder="email..." required>
       <label for="username">Name</label>
       <input type="text" name="username" placeholder="username..." required>
       <label for="password">Password</label>
       <input type="text" name="password" placeholder="password.." required>
      <button type="submit" id="btn_SignUp">SignUp</button>
</form>
