*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;

}
small{
  font-size: 15px;
  color: #232629;
}
form#form-signUp{
  width: 200px;
  line-height: 40px;
  margin-left: 20px;
}

#btn_SignUp{
  margin-top: 10px;
}

#btn-register{
 width: 350px;

 display: inline-flex;
}
p{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
}
a{
  color: #117fe6;
  font-size: 15px;
  text-decoration: none;
}

#logIn-local{
  width: 20px;
  line-height: 40px;
  margin-left: 20px;
}
#btn_SignIn{
  margin-top: 10px;
}
p#txt-log-in-fb{
  font-size: 20px;
  font-weight:50;
}

#logIn{
     display: inline-flex;
}
#logIn a{
  color:#ffffff;
}



#btn_login{
    background-color:#077AE9;
    padding: 10px;
    color: white;
    border: solid 0px #7fb9f0;
     margin-top: 10px;
     margin-left: 25px;
     border-radius: 6px;

}

#btn_login:hover{
    border: solid 1px #ffffff;
    background-color:#2789e4;
    transition: .5s;
    cursor: pointer;
}
.container-messenger{
  margin:20px 450px 20px;
  font-family: sans-serif;
  width: 450px;
  height:700px;

}

.name{
  position: relative;
  background-color: #077AE9;
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
}
.name h2{
  font-size: 15px;
  color: #ffffff;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
    position: absolute;
  
}

.name #avatar{
    margin-left: 380px;

    border-radius: 50px;
    margin-top: 5px;
    position: absolute;
    display: inline-block;
}

div.main-list{
  height: 500px;
  background-color: #232629;
overflow-x:hidden;
 overflow:auto;
}


.main-list div.messages div{
  clear:both;

}
.main-list div.messages div.left-message {
  padding: 10px;
  width: 70%;
  margin-left: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0px 5px #ddd;
  background-color: #3e4042;
  color:#8a8d91;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

.main-list div.messages div.right-message {
    padding:10px;
    color :#ffffff;
    background-color: #0084ff;
    margin-bottom: 20px;
    margin-left:120px;
    width: 70%;
    box-shadow: 0 0px 5px #ddd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



.send_content{
  background-color: #232629;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius:20px;
  position: relative;
  height: 60px;

}
.send_content input#input-text{
   width: 350px;
   background-color: #444647;
   border: solid 1px  #ffffff;
   color : #ffffff;
   border-radius: 50px;
   position: absolute;
   margin-left: 20px;
   padding-top: 5px;
   padding-left: 10px;

}
#img-send{
     position:relative;
     margin-left: 380px;

}
#img-send:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
